<table class="simple">
  <tr align="left">
    <td><%= _('Name') %>:</td>
    <td><%= text_field :number_pool, :name, class: 'input', style: 'width: 100%;' %></td>
  </tr>
  <tr align="left">
    <td valign="top"><%= _('Comment') %>:</td>
    <td><%= text_area :number_pool, :comment, rows: '4', class: "input", style: 'width: 550px;', maxlength: 250 %></td>
  </tr>
</table>
<br />
<br />
